/* HEADER */
.float-right {
	float: right;
}
.float-left {
	float: left;
}
header {
	border-bottom: 5px solid black;
	padding: var(--baseFontEm);
}
nav {
	display: block;
	width: 100%;
}
nav a {
	color: black;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	padding-top: var(--msDown5);
	padding-bottom: var(--msDown5);
	margin-right: var(--msDown2);
}
nav a:first-child { padding-left: 0em; }
nav a:last-child { padding-right: 0em; }
nav a:hover { border-bottom: 2px solid black; }
main { padding: var(--baseFontEm); }

/* GRID SPECS */
main#grid-specs {
	width: 80%;
	max-width: 800px;
	margin: var(--baseFontEm) auto;
}

main#grid-specs pre {
	overflow: scroll;
	padding: var(--baseFontEm);
	margin-bottom: var(--msUp4);
}
main#grid-basics section pre.hidden {
	overflow-x: scroll;
}