/* GRID EX2A */
main#grid-ex2a {
	border: 1px solid #666;
	padding: var(--baseFontEm);
	margin-top: var(--baseFontEm);
	margin-bottom: var(--baseFontEm);
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	height: 80vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: var(--baseFontEm);
}
main#grid-ex2a div.block-text {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	align-self: end;
}
main#grid-ex2a ul.block-img {
	grid-column: 1 / 4;
	grid-row: 1 / 4;
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: var(--baseFontEm);
	list-style-type: none;
}
main#grid-ex2a ul.block-img li { overflow: hidden; }
main#grid-ex2a ul.block-img img { width: 100%; }
main#grid-ex2a ul.block-img li:nth-child(1) {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}
main#grid-ex2a ul.block-img li:nth-child(2) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
main#grid-ex2a ul.block-img li:nth-child(3) {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}
main#grid-ex2a ul.block-img li:nth-child(4) {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}
main#grid-ex2a ul.block-img li:nth-child(5) {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
main#grid-ex2a ul.block-img li:nth-child(6) {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}

/* GRID EX2B */
main#grid-ex2b {
	width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-template-columns:	50px 1fr 2fr 1fr 50px;
	grid-template-rows:		50px 1fr 1fr 1fr 50px;
}
main#grid-ex2b img.bkg {
	width: 100%;
	grid-column: 1 / 7;
	grid-row: 1 / 6;
	z-index: -999;
}
main#grid-ex2b div.title {
	grid-column: 3 / 4;
	grid-row: 2 / 3;

	display: inline-grid;
	grid-template: 2fr 1fr;
	justify-items: start;
	grid-gap: var(--baseFontEm);
}
main#grid-ex2b div.title h1.sub-heading {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	justify-self: end;
	color: orange;
	font-weight: 100;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-align: right;
}
main#grid-ex2b div.title h1.heading {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	color: var(--white);
	font-weight: 100;
}
main#grid-ex2b div.title h1 span.orange {
	color: orange;
	font-weight: bold;
}
main#grid-ex2b ul {
	grid-column: 3 / 4;
	grid-row: 4 / 5;

	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
main#grid-ex2b ul li {
	width: 100%;
	padding: var(--msDown4);
}
main#grid-ex2b ul li a {
	padding-left: var(--msDown4);
	text-decoration: none;
	transition: all .1s ease-in-out;
}
main#grid-ex2b ul li:hover {
	cursor: pointer;
}
main#grid-ex2b ul li:hover a {
	padding-left: var(--baseFontEm);
}
main#grid-ex2b ul li:nth-child(odd) { background-color: orange; }
main#grid-ex2b ul li:nth-child(odd) a { color: white; }
main#grid-ex2b ul li:nth-child(even) { background-color: white; }
main#grid-ex2b ul li:nth-child(even) a { color: orange; }
main#grid-ex2b div.cbands {
	z-index: 999;
}
main#grid-ex2b div.cbands div {
	padding: 0;
	margin: 0;
}
main#grid-ex2b div.cbands div.orange {
	background-color: orange;
}
main#grid-ex2b div.cbands div.white {
	background-color: white;
}
main#grid-ex2b div.cb-1 {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	display: flex;
	flex-direction: column;
}
main#grid-ex2b div.cb-1 div {
	width: 50px;
	height: 50px;
}